Node-red flow farm application.txt
[{"id":"b19a4c3c.02db7","type":"mqtt in","z":"de5dd669.701d98","name":"","topic":"dragino_rs485_lr/devices/87654321/up","qos":"2","datatype":"auto","broker":"8118b6e5.3a5fb8","x":270,"y":80,"wires":[["7533b84c.437698"]]},{"id":"7533b84c.437698","type":"function","z":"de5dd669.701d98","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["8a54809e.6fd8c","f7589001.17844"]]},{"id":"8a54809e.6fd8c","type":"debug","z":"de5dd669.701d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":200,"wires":[]},{"id":"7d8b0506.5af97c","type":"debug","z":"de5dd669.701d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":60,"wires":[]},{"id":"f7589001.17844","type":"function","z":"de5dd669.701d98","name":"counter","func":"var a = msg.payload;\nmsg.payload=a.counter;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["7d8b0506.5af97c","250d6197.8358ce"]]},{"id":"250d6197.8358ce","type":"mqtt out","z":"de5dd669.701d98","name":"","topic":"litres_comptador3","qos":"","retain":"","broker":"e1758904.1e07e8","x":770,"y":180,"wires":[]},{"id":"4e2af66.b3b7508","type":"comment","z":"de5dd669.701d98","name":"COMPTADOR AIGUA","info":"","x":160,"y":40,"wires":[]},{"id":"8bc83c03.6bd","type":"mqtt in","z":"de5dd669.701d98","name":"","topic":"prova_dragino_silos/devices/87654321/up","qos":"2","datatype":"auto","broker":"4d35a9c8.364f48","x":300,"y":300,"wires":[["ec63a755.a8da38"]]},{"id":"ec63a755.a8da38","type":"function","z":"de5dd669.701d98","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["11a4e0ed.0cebbf","efcd347d.2be3b8"]]},{"id":"11a4e0ed.0cebbf","type":"debug","z":"de5dd669.701d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":420,"wires":[]},{"id":"c0e4647a.85d5d8","type":"debug","z":"de5dd669.701d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":300,"wires":[]},{"id":"efcd347d.2be3b8","type":"function","z":"de5dd669.701d98","name":"Distance","func":"var a = msg.payload;\nmsg.payload=a.Distance;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["c0e4647a.85d5d8","12d64e7c.eb3d52"]]},{"id":"12d64e7c.eb3d52","type":"mqtt out","z":"de5dd669.701d98","name":"","topic":"nivell_silo_1","qos":"","retain":"","broker":"e1758904.1e07e8","x":770,"y":400,"wires":[]},{"id":"737cbf1d.5bfa6","type":"comment","z":"de5dd669.701d98","name":"NIVELL SILO","info":"","x":150,"y":260,"wires":[]},{"id":"8118b6e5.3a5fb8","type":"mqtt-broker","z":"","name":"thethings comptador","broker":"eu.thethings.network.","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1758904.1e07e8","type":"mqtt-broker","z":"de5dd669.701d98","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4d35a9c8.364f48","type":"mqtt-broker","z":"de5dd669.701d98","name":"eu.thethings.network","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]