node-red-flow-dragino-4-counters-to-influxdb-cloud-20.txt
[{"id":"220226bd.c131ba","type":"function","z":"11adf689.d2e939","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["f5a2e58c.24b5d8","aeab1f93.b3535","ca61e13d.21e57","e4c270b8.dfcbd","f2e1f0c8.e4b3","71a5b6af.887768"]]},{"id":"f5a2e58c.24b5d8","type":"debug","z":"11adf689.d2e939","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":120,"wires":[]},{"id":"92b9368a.a08368","type":"debug","z":"11adf689.d2e939","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":160,"wires":[]},{"id":"aeab1f93.b3535","type":"function","z":"11adf689.d2e939","name":"contador1","func":"var a = msg.payload;\nmsg.payload=a.counter1;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["92b9368a.a08368","9156fb5a.f841c8"]]},{"id":"9156fb5a.f841c8","type":"mqtt out","z":"11adf689.d2e939","name":"","topic":"contador1","qos":"","retain":"","broker":"afcfd0eb.31e488","x":760,"y":160,"wires":[]},{"id":"c54113f5.b490b","type":"mqtt in","z":"11adf689.d2e939","name":"","topic":"dragino_comptador_litros/devices/01821/up","qos":"2","datatype":"auto","broker":"cad9e1bf.e5901","x":210,"y":60,"wires":[["220226bd.c131ba"]]},{"id":"ca61e13d.21e57","type":"function","z":"11adf689.d2e939","name":"contador2","func":"var a = msg.payload;\nmsg.payload=a.counter2;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["b4526f45.2f75c","72445d4e.b33464"]]},{"id":"e4c270b8.dfcbd","type":"function","z":"11adf689.d2e939","name":"contador3","func":"var a = msg.payload;\nmsg.payload=a.counter3;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["e02ba14d.500fc","4326ae08.fccd5"]]},{"id":"f2e1f0c8.e4b3","type":"function","z":"11adf689.d2e939","name":"contador4","func":"var a = msg.payload;\nmsg.payload=a.counter4;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["357d2ac2.d42066","e76541ac.27ef5"]]},{"id":"b4526f45.2f75c","type":"mqtt out","z":"11adf689.d2e939","name":"","topic":"contador2","qos":"","retain":"","broker":"afcfd0eb.31e488","x":760,"y":220,"wires":[]},{"id":"e02ba14d.500fc","type":"mqtt out","z":"11adf689.d2e939","name":"","topic":"contador3","qos":"","retain":"","broker":"afcfd0eb.31e488","x":760,"y":280,"wires":[]},{"id":"357d2ac2.d42066","type":"mqtt out","z":"11adf689.d2e939","name":"","topic":"contador4","qos":"","retain":"","broker":"afcfd0eb.31e488","x":760,"y":340,"wires":[]},{"id":"72445d4e.b33464","type":"debug","z":"11adf689.d2e939","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":220,"wires":[]},{"id":"4326ae08.fccd5","type":"debug","z":"11adf689.d2e939","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"e76541ac.27ef5","type":"debug","z":"11adf689.d2e939","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":340,"wires":[]},{"id":"c1bdeacc.3af0f8","type":"comment","z":"11adf689.d2e939","name":"InfluxDB Cloud injection","info":"","x":320,"y":380,"wires":[]},{"id":"71a5b6af.887768","type":"function","z":"11adf689.d2e939","name":"counter1, counter2, counter 3, counter4","func":"var contador1 = msg.payload.counter1;\nvar contador2 = msg.payload.counter2;\nvar contador3 = msg.payload.counter3;\nvar contador4 = msg.payload.counter4;\n\n\nmsg.topic ='contador1='+ contador1 + \n',contador2=' + contador2 + ',contador3='+ contador3 + \n',contador4=' + contador4 ;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":440,"wires":[["bc857619.7e5f58","c208b61e.8e1768"]]},{"id":"bc857619.7e5f58","type":"debug","z":"11adf689.d2e939","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":440,"wires":[]},{"id":"c208b61e.8e1768","type":"function","z":"11adf689.d2e939","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=your_email&bucket=your_databucket&precision=s\" --header \"Authorization: Token your_token\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["66fa15a.9b457ec","39e3cf49.96161"]]},{"id":"b853978e.047e58","type":"debug","z":"11adf689.d2e939","name":"","active":true,"console":false,"complete":"false","x":1045,"y":581,"wires":[]},{"id":"3154f296.ee870e","type":"debug","z":"11adf689.d2e939","name":"","active":true,"console":false,"complete":"false","x":1042,"y":628,"wires":[]},{"id":"9bebdc26.3e0f8","type":"debug","z":"11adf689.d2e939","name":"","active":true,"console":false,"complete":"false","x":1042,"y":669,"wires":[]},{"id":"66fa15a.9b457ec","type":"function","z":"11adf689.d2e939","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["30575820.85fc28","f4bc4dfa.1d00a"]]},{"id":"39e3cf49.96161","type":"debug","z":"11adf689.d2e939","name":"curl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":520,"wires":[]},{"id":"30575820.85fc28","type":"debug","z":"11adf689.d2e939","name":"curl + data","active":true,"console":false,"complete":"payload","x":890,"y":520,"wires":[]},{"id":"f4bc4dfa.1d00a","type":"exec","z":"11adf689.d2e939","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":810,"y":620,"wires":[["b853978e.047e58"],["3154f296.ee870e"],["9bebdc26.3e0f8"]]},{"id":"afcfd0eb.31e488","type":"mqtt-broker","z":"34122078.723e7","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"cad9e1bf.e5901","type":"mqtt-broker","z":"34122078.723e7","name":"Contador_aigua","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]