Node-red Flow not to wait until next day to get level value V2.json
[{"id":"69c52418.c5a3ec","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"8b7ecae6.18415","type":"mqtt in","z":"69c52418.c5a3ec","name":"","topic":"prova_dragino_silos/devices/87654321/up","qos":"2","datatype":"auto","broker":"4c7420c7.98cb4","x":320,"y":200,"wires":[["5f9eb397.ef6114"]]},{"id":"5f9eb397.ef6114","type":"function","z":"69c52418.c5a3ec","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["a83c635f.29d2d","9f352da7.9b2ce"]]},{"id":"a83c635f.29d2d","type":"debug","z":"69c52418.c5a3ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":320,"wires":[]},{"id":"d7013005.a73e88","type":"debug","z":"69c52418.c5a3ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":200,"wires":[]},{"id":"9f352da7.9b2ce","type":"function","z":"69c52418.c5a3ec","name":"Distance","func":"var a = msg.payload;\nmsg.payload=a.Distance;\nflow.set('nivell_silo1', a.Distance);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["d7013005.a73e88"]]},{"id":"d9379e1d.8a46b","type":"comment","z":"69c52418.c5a3ec","name":"NIVELL SILO","info":"","x":170,"y":160,"wires":[]},{"id":"27b17145.1091f6","type":"inject","z":"69c52418.c5a3ec","name":"On Start up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":520,"wires":[["5dc1c2aa.bc0504"]]},{"id":"5dc1c2aa.bc0504","type":"function","z":"69c52418.c5a3ec","name":"Flow variable definition tank 1 level","func":"flow.nivell_silo1 = flow.nivell_silo1 || 0;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[[]]},{"id":"eb78afac.8ca388","type":"inject","z":"69c52418.c5a3ec","name":"Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["f19cfaf0.53b418"]]},{"id":"90d97eec.906538","type":"inject","z":"69c52418.c5a3ec","name":"Test 1000","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["df1a9067.615ba"]]},{"id":"df1a9067.615ba","type":"function","z":"69c52418.c5a3ec","name":"Enter new level value","func":"var nou_nivell_silo=msg.payload;\nflow.set('nivell_silo1', nou_nivell_silo); \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[[]]},{"id":"f19cfaf0.53b418","type":"function","z":"69c52418.c5a3ec","name":"Update last level value","func":"var nou_nivell_silo=flow.get('nivell_silo1')\nflow.set('nivell_silo1', nou_nivell_silo); \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["6f38ddbc.f502cc"]]},{"id":"6f38ddbc.f502cc","type":"mqtt out","z":"69c52418.c5a3ec","name":"","topic":"nivell_silo_1","qos":"","retain":"","broker":"7c34ba62.7a6804","x":770,"y":460,"wires":[]},{"id":"4c7420c7.98cb4","type":"mqtt-broker","z":"69c52418.c5a3ec","name":"","broker":"eu.thethings.network.","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c34ba62.7a6804","type":"mqtt-broker","z":"69c52418.c5a3ec","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]