Node-red keep alive mqtt value.json
[{"id":"69c52418.c5a3ec","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"d826c950.f18fe8","type":"function","z":"69c52418.c5a3ec","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["30d7cafc.cf6cee","3e9e099b.b6df06"]]},{"id":"30d7cafc.cf6cee","type":"debug","z":"69c52418.c5a3ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":400,"wires":[]},{"id":"f1a92aeb.59009","type":"debug","z":"69c52418.c5a3ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":280,"wires":[]},{"id":"3e9e099b.b6df06","type":"function","z":"69c52418.c5a3ec","name":"Distance","func":"var a = msg.payload;\nmsg.payload=a.Distance;\n//if(!Number.isNaN(a.Distance)){\nvar b=a.Distance;\nflow.set('diposit',b);\n//}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["f1a92aeb.59009"]]},{"id":"d33a5d69.a620d8","type":"mqtt out","z":"69c52418.c5a3ec","name":"","topic":"diposit_aigua","qos":"","retain":"","broker":"afcfd0eb.31e488","x":730,"y":480,"wires":[]},{"id":"315ba64f.1d85d2","type":"mqtt in","z":"69c52418.c5a3ec","name":"dragino_deposit_aigua","topic":"dragino_deposit_aigua/devices/87654321/up","qos":"2","datatype":"auto","broker":"bd6fecdf.e7775","x":155,"y":300,"wires":[["d826c950.f18fe8"]],"l":false},{"id":"db8a1351.68bff8","type":"comment","z":"69c52418.c5a3ec","name":"DIPOSIT AIGUA","info":"","x":200,"y":240,"wires":[]},{"id":"95644ae3.417fa","type":"inject","z":"69c52418.c5a3ec","name":"On start up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":100,"wires":[["91df3c3e.d10c6"]]},{"id":"91df3c3e.d10c6","type":"function","z":"69c52418.c5a3ec","name":"Flow scope variables definition","func":"flow.silo3 = flow.diposit || 0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[[]]},{"id":"b4187e2a.b30e78","type":"inject","z":"69c52418.c5a3ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":520,"wires":[["b8c085a8.6674d"]]},{"id":"89c42f3e.54e07","type":"debug","z":"69c52418.c5a3ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":580,"wires":[]},{"id":"b8c085a8.6674d","type":"function","z":"69c52418.c5a3ec","name":"DIPOSIT AIGUA","func":"var nivell = flow.get('diposit');\nmsg.payload=nivell;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["89c42f3e.54e07","d33a5d69.a620d8"]]},{"id":"afcfd0eb.31e488","type":"mqtt-broker","z":"34122078.723e7","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"bd6fecdf.e7775","type":"mqtt-broker","z":"34122078.723e7","name":"dipositaigua","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]