Node-red Flow not to wait until next day to get level value.txt
[{"id":"ffe3be43.85232","type":"mqtt in","z":"9fa1467f.a99d58","name":"","topic":"prova_dragino_silos/devices/87654321/up","qos":"2","datatype":"auto","broker":"5528cf1a.fbc09","x":300,"y":760,"wires":[["a22fac56.c5e66"]]},{"id":"a22fac56.c5e66","type":"function","z":"9fa1467f.a99d58","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":260,"y":840,"wires":[["a75e37f5.7cb818","1bd2220b.e6c0de"]]},{"id":"a75e37f5.7cb818","type":"debug","z":"9fa1467f.a99d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":880,"wires":[]},{"id":"b90d5379.40874","type":"debug","z":"9fa1467f.a99d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":760,"wires":[]},{"id":"1bd2220b.e6c0de","type":"function","z":"9fa1467f.a99d58","name":"Distance","func":"var a = msg.payload;\nmsg.payload=a.Distance;\nflow.set('nivell_silo1', a.Distance);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":840,"wires":[["b90d5379.40874","b2be5389.bcf84"]]},{"id":"b2be5389.bcf84","type":"mqtt out","z":"9fa1467f.a99d58","name":"","topic":"nivell_silo_1","qos":"","retain":"","broker":"c1e9625d.d32ed","x":770,"y":860,"wires":[]},{"id":"fb7bf7f4.213ab8","type":"comment","z":"9fa1467f.a99d58","name":"NIVELL SILO","info":"","x":150,"y":720,"wires":[]},{"id":"b02a9213.18374","type":"inject","z":"9fa1467f.a99d58","name":"On Start up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1080,"wires":[["2d81d2e8.dc86ee"]]},{"id":"2d81d2e8.dc86ee","type":"function","z":"9fa1467f.a99d58","name":"Flow variable definition tank 1 level","func":"flow.nivell_silo1 = flow.nivell_silo1 || 0;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1080,"wires":[[]]},{"id":"ad6a87ba.6c6ca8","type":"inject","z":"9fa1467f.a99d58","name":"Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1020,"wires":[["1a8f82e4.07859d"]]},{"id":"9f053a28.4ab4b8","type":"inject","z":"9fa1467f.a99d58","name":"Test 1000","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":960,"wires":[["5189d720.eed518"]]},{"id":"5189d720.eed518","type":"function","z":"9fa1467f.a99d58","name":"Enter new level value","func":"var nou_nivell_silo=msg.payload;\nflow.set('nivell_silo1', nou_nivell_silo); \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":960,"wires":[["762643ea.baae3c"]]},{"id":"1a8f82e4.07859d","type":"function","z":"9fa1467f.a99d58","name":"Update last level value","func":"var nou_nivell_silo=flow.get('nivell_silo1')\nflow.set('nivell_silo1', nou_nivell_silo); \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1020,"wires":[["1eea085f.6cadf8"]]},{"id":"1eea085f.6cadf8","type":"mqtt out","z":"9fa1467f.a99d58","name":"","topic":"nivell_silo_1","qos":"","retain":"","broker":"c1e9625d.d32ed","x":750,"y":1020,"wires":[]},{"id":"762643ea.baae3c","type":"mqtt out","z":"9fa1467f.a99d58","name":"","topic":"nivell_silo_1","qos":"","retain":"","broker":"c1e9625d.d32ed","x":750,"y":960,"wires":[]},{"id":"5528cf1a.fbc09","type":"mqtt-broker","z":"9fa1467f.a99d58","name":"","broker":"eu.thethings.network.","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1e9625d.d32ed","type":"mqtt-broker","z":"9fa1467f.a99d58","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]